<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoutubeComments</title>
</head>
<body>
    <div class = 'cabecalho'>
        <h1>YoutubeComments</h1>
        <img src = "/imagens/youtube-logo-5-2.png" alt="Logo do youtube">
    </div>

    <form onsubmit="pesquisarVideos(event)">
        <input type="text" id="termoPesquisa" placeholder="Pesquise" name="search">
        <button type="submit" value="Pesquisar"></button>
    </form>

    <div id="resultados"></div>

    <ul>
        {% for comment in comments %}
        <li>
            {{comment.author}}: {{comment.comment}}
        </li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
