<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoutubeComments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class='cabecalho'>
        <h1>YoutubeComments</h1>
        <img id="logo-ytb" src="{{ url_for('download_file', filename='youtube-logo-5-2.png') }}" alt="Logo do Youtube">
    </div>

    <form action="{{ url_for('buscar_videos') }}" method="post">
        <input type="text" id="termoPesquisa" placeholder="Digite o termo de pesquisa..." name="search">
        <button type="submit">Pesquisar</button>
    </form>

    <div id="resultados">
        {% for item in comentarios_por_video %}
            <h2><a href="{{ item['video']['url'] }}" target="_blank">{{ item['video']['title'] }}</a></h2>
            {% for comentario in item['comentarios'] %}
                <p>{{ comentario['comment'] }} - {{ comentario['author'] }}</p>
            {% endfor %}
            
            <img src="data:image/png;base64,{{ imagens_base64[loop.index0] }}" alt="Word Cloud">
    
        {% endfor %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
